<div class="container" style="padding: 50px 0 100px 0">

  <form [formGroup]="myform">
      <label for="name">item type</label>
      <input type="text" name="item_type" formControlName="item_type" required>
    
      <label for="age">code</label>
      <input type="text" name="code" formControlName="code" required>
    
      <label for="email">item order</label>
      <input type="text" name="item_order" formControlName="item_order" required>

      <label for="email">title</label>
      <input type="text" name="title" formControlName="title" required>
      
      <label for="email">dsc</label>
      <input type="text" name="dsc" formControlName="dsc" required>

      <label for="email">answer type</label>
      <input type="text" name="answer_type" formControlName="answer_type" required>
      
      <label for="email">quality standard id</label>
      <input type="text" name="answer_detail" formControlName="quality_standart_id" required>

      <label for="email">score</label>
      <input type="text" name="score" formControlName="score" required>

      <!-- <label for="email">maturity level</label>
      <input type="text" name="maturity_level" [(ngModel)]="maturity_level" required> -->

      <button (click)="onSubmit()">Veri Ekle</button>
    </form>
    
</div>